<div class="container-sm">
  <p class="text-justify" class="font-weight-bold"></p>
  <h1>
    Shopping Cart
  </h1>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <h2>
          Please select
        </h2>
      </div>
<br>
      <div class="container">

        <div class="row">
          <div class="col">
            <img src="/assets/TWG.jpg" alt="..." class="img-thumbnail" width="25%">
              TWG Tea
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">Add</button>
          </div> 
        </div>      
        <br>
        <div class="row">
          <div class="col">
            <img src="/assets/TWG.jpg" alt="..." class="img-thumbnail" width="25%">
              TWG Tea
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">Add</button>
          </div> 
        </div>
        <br>
        <div class="row">
          <div class="col">
            <img src="/assets/TWG.jpg" alt="..." class="img-thumbnail" width="25%">
              TWG Tea
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">Add</button>
          </div> 
        </div>
        <br>
        <div class="row">
          <div class="col">
            <img src="/assets/TWG.jpg" alt="..." class="img-thumbnail" width="25%">
              TWG Tea
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">Add</button>
          </div> 
        </div>

      </div>


    </div>
    <div class="col">
      <h2>
        My Cart
      </h2>

      <h1>
        <app-cart></app-cart>
      </h1>

    </div>
  </div>
</div>